{% if week_schedule %}
    <ul>
    {% for date_schedule in week_schedule %}
        <li>{{ date_schedule.date }}</li>
        <ul>
            {% for period in date_schedule.periods %}
                <li>{{ period.period_text }}</li>
                <ul>
                    {% for sku in period.skus %}
                        {% if sku.free_count == sku.site_sku.units %}
                            <li>{{ sku.site_sku.sku.shortname }} - All available</li>
                        {% else %}
                            <li>{{ sku.site_sku.sku.shortname }} - Free {{ sku.free_count }} (of {{ sku.site_sku.units }})</li>
                        {% endif %}
                    {% endfor %}
                </ul>
            {% endfor %}
        </ul>
    {% endfor %}
    </ul>
{% else %}
    <p>Schedule is not available.</p>
{% endif %}