{% extends "common/base.html" %}

{% block title %} Reserve {% endblock %}

{% block content %}
  <h2>Reserve Technology</h2>
  <hr />
  <form class="form-horizontal" action="{% url 'reserve' %}" method="post">
    <input type="hidden" name="site_inventory_pk" value="{{ site_inventory.pk }}">
    <input type="hidden" name="request_date" value="{{ request_date.isoformat }}">
    <input type="hidden" name="period" value="{{ period.0 }}">
    {% csrf_token %}
    <div class="form-group">
      <label class="col-md-2 col-xs-3 control-label">Item Type</label>
      <div class="col-md-10 col-xs-9">
        <p class="form-control-static">{{ site_inventory.inventory.display_name }} ({{ site_inventory.inventory.model_identifier }})</p>
      </div>
    </div>
    <div class="form-group">
      <label class="col-md-2 col-xs-3 control-label">Date</label>
      <div class="col-md-10 col-xs-9">
        <p class="form-control-static">{{ request_date|date:"D, M d" }}</p>
      </div>
    </div>
    <div class="form-group">
      <label class="col-md-2 col-xs-3 control-label">Units</label>
      <div class="col-md-10 col-xs-9">
        <p class="form-control-static">{{ site_inventory.units }} total units available at {{ request.user.site }}</p>
      </div>
    </div>
    <div class="form-group">
      <label class="col-md-2 col-xs-3 control-label">Requested Units</label>
      <div class="col-md-2 col-xs-9">
        <input type="number" class="form-control" name="request_units" id="request_units" placeholder="0" min="1" pattern="[0-9]*" max="{{ free_units }}" oninput="checkValidReservation();">
      </div>
    </div>
    {% for period, free in free_units.items %}
      <div class="form-group">
        {% if forloop.first %}
          <label class="col-md-2 col-xs-3 control-label">Period</label>
          <div class="checkbox col-md-5 col-xs-9">
            <label>
              <input class="period_checkbox" type="checkbox" name="period_{{ period.id }}" id="period_{{ period.id }}_{{ free }}" {% if period == selected_period %} checked {% endif %} onclick="checkValidReservation();"/>
              {{ period.name }} <small>({{ free }} available)</small>
            </label>
            <p class="bg-danger" id="period_{{ period.id }}_error" style="padding: 10px; display: none">
              The requested number of units are not available in this period
            </p>
          </div>
        {% else %}
          <div class="checkbox col-md-5 col-xs-9 col-md-offset-2 col-xs-offset-3">
            <label>
              <input class="period_checkbox" type="checkbox" name="period_{{ period.id }}" id="period_{{ period.id }}_{{ free }}" {% if period == selected_period %} checked {% endif %} onclick="checkValidReservation();"/>
              {{ period.name }} <small>({{ free }} available)</small>
            </label>
            <p class="bg-danger" id="period_{{ period.id }}_error" style="padding: 10px; display: none">
              The requested number of units are not available in this period
            </p>
          </div>
        {% endif %}
      </div>
    {%  endfor %}
    <div class="form-group">
      <label class="col-md-2 col-xs-3 control-label">Teaching Team</label>
      <div class="col-md-4 col-xs-9">
        <select name="team_pk" class="form-control">
          {% for team in teams %}
            <option value="{{ team.pk }}">{{ team }}</option>
          {% empty %}
            You must be part of at least one teaching team
          {% endfor %}
        </select>
      </div>
    </div>
    <div class="form-group">
      <label class="col-md-2 col-xs-3 control-label">Classroom</label>
      <div class="col-md-4 col-xs-9">
        <select name="classroom_pk" class="form-control">
          {% for classroom in classrooms %}
            <option value="{{ classroom.pk }}">{{ classroom.code }} ({{ classroom.name }})</option>
          {% empty %}
            There must be at least one classroom at the site
          {% endfor %}
        </select>
      </div>
    </div>
    <div class="form-group">
      <label class="col-md-2 col-xs-3 control-label">Purpose</label>
      <div class="col-md-4 col-xs-9">
        <select name="purpose_pk" class="form-control">
          {% for purpose in purpose_list %}
            <option value="{{ purpose.pk }}">{{ purpose.purpose }}</option>
          {% endfor %}
        </select>
      </div>
    </div>
    <div class="form-group">
      <label class="col-md-2 col-xs-3 control-label"></label>
      <div class="col-md-5 col-xs-9 small-margin-top">
        <input type="checkbox" name="collaborative" id="collaborative"/>
              Students will use this technology in a group
      </div>
    </div>
    <div class="form-group">
      <label class="col-md-2 col-xs-3 control-label"></label>
      <div class="col-md-5 col-xs-9 small-margin-top">
        <input type="checkbox" id="same_units" onclick="checkValidReservation();"/>
        Students need to use the same units over multiple reservations
        <p class="bg-warning" id="same_units_warning" style="padding: 10px; display: none">
          Please reserve all available units at site ({{ site_inventory.units }}) for selected periods to guarantee that same units will be provided.
        </p>
      </div>
    </div>
    <div class="form-group">
      <label class="col-md-2 col-xs-3 control-label">Comments</label>
      <div class="col-md-4 col-xs-9">
        <textarea class="form-control" name="comment" placeholder="Special instructions for volunteers or comments for other staff members"></textarea>
      </div>
    </div>
    <div class="form-group">
      <div class="col-md-offset-2 col-xs-offset-3 col-md-5 col-xs-9">
        <input type="submit" value="Reserve" class="btn btn-primary"/>
      </div>
    </div>
  </form>
{% endblock %}

{% block custom_js %}
  function checkValidReservation() {
    if ($('#same_units')[0].checked) {
      $('#same_units_warning').show()
    }
    else {
      $('#same_units_warning').hide()
    }

    $('.period_checkbox').each(function(idx, checkbox) {
      var isCheckboxChecked = checkbox.checked;
      var checkboxData = checkbox.id.split("_");
      var periodFree = parseInt(checkboxData[2]);
      var periodId = checkboxData[1];
      var requestedUnits = parseInt($('#request_units').val());

      if (isCheckboxChecked && periodFree < requestedUnits) {
        $('#period_' + periodId + '_error').show();
      }
      else {
        $('#period_' + periodId + '_error').hide();
      }
    });
  }
{% endblock %}