{% extends "common/base.html" %}

{% block title %} Reserve {% endblock %}

{% block content %}
  <h2>Reserve Technology</h2>
  <hr />
  <form class="form-horizontal" action="{% url 'reserve' %}" method="post">
    <input type="hidden" name="site_assignment_pk" value="{{ site_sku.pk }}">
    <input type="hidden" name="request_date" value="{{ request_date.isoformat }}">
    <input type="hidden" name="period" value="{{ period.0 }}">
    {% csrf_token %}
    <div class="form-group">
      <label class="col-md-2 col-xs-3 control-label">Item Type</label>
      <div class="col-md-10 col-xs-9">
        <p class="form-control-static">{{ site_sku.sku.display_name }} ({{ site_sku.sku.model_identifier }})</p>
      </div>
    </div>
    <div class="form-group">
      <label class="col-md-2 col-xs-3 control-label">Date</label>
      <div class="col-md-10 col-xs-9">
        <p class="form-control-static">{{ request_date|date:"D, M d" }}</p>
      </div>
    </div>
    <div class="form-group">
      <label class="col-md-2 col-xs-3 control-label">Period</label>
      <div class="col-md-10 col-xs-9">
        <p class="form-control-static">{{ period.1 }}</p>
      </div>
    </div>
    <div class="form-group">
      <label class="col-md-2 col-xs-3 control-label">Available Units</label>
      <div class="col-md-10 col-xs-9">
        <p class="form-control-static">{{ free_units }} ({{ site_sku.units }} at site)</p>
      </div>
    </div>
    <div class="form-group">
      <label class="col-md-2 col-xs-3 control-label">Requested Units</label>
      <div class="col-md-1 col-xs-9">
        <input type="text" class="form-control" name="request_units" placeholder="0">
      </div>
    </div>
    <div class="form-group">
      <label class="col-md-2 col-xs-3 control-label">Teaching Team</label>
      <div class="col-md-4 col-xs-9">
        <select name="team_pk" class="form-control">
          {% for team in teams %}
            <option value="{{ team.pk }}">{{ team }}</option>
          {% empty %}
            You must be part of at least one teaching team
          {% endfor %}
        </select>
      </div>
    </div>
    <div class="form-group">
      <label class="col-md-2 col-xs-3 control-label">Classroom</label>
      <div class="col-md-4 col-xs-9">
        <select name="classroom_pk" class="form-control">
          {% for classroom in classrooms %}
            <option value="{{ classroom.pk }}">{{ classroom.code }} ({{ classroom.name }})</option>
          {% empty %}
            There must be at least one classroom at the site
          {% endfor %}
        </select>
      </div>
    </div>
    <div class="form-group">
      <div class="col-md-offset-2 col-xs-offset-3 col-md-5 col-xs-9">
        <input type="submit" value="Reserve" class="btn btn-primary"/>
      </div>
    </div>
  </form>
{% endblock %}