{% extends "common/base.html" %}

{% block title %} Reserve {% endblock %}

{% block content %}
  <h2>My Reservations</h2>
  <hr/>
  <table class="table table-striped">
    <thead>
    <tr>
      <th>Date</th>
      <th>Period</th>
      <th>Team</th>
      <th>Technology</th>
      <th>Units</th>
      <th>Location</th>
      <th></th>
    </tr>
    </thead>
    <tbody>
    {% for reservation in reservations %}
      <tr>
        <td>{{ reservation.date|date:"M d, Y - l" }}</td>
        <td>
          {% for period_number, period_name in period_mapping %}
              {% if period_number == reservation.period %}
                  {{ period_name }}
              {% endif %}
          {% endfor %}
        </td>
        <td>{{ reservation.team }}</td>
        <td>{{ reservation.site_sku.sku.display_name }} ({{ reservation.site_sku.sku.model_identifier }})</td>
        <td>{{ reservation.units }}</td>
        <td>{{ reservation.classroom }}</td>
        <td class="text-right">
          <button type="button" class="btn btn-danger btn-sm" data-toggle="modal"
                  data-target="#reservation_delete_{{ reservation.pk }}"><span class="glyphicon glyphicon-trash"></span>
          </button>

          {% include "checkout/delete_modal.html" %}

        </td>
      </tr>
    {% empty %}
      <div class="alert alert-warning">
        You have not made any reservations yet. Click a period in the <a href="{% url 'index' %}">schedule</a> to make a reservation.
      </div>
    {% endfor %}
    </tbody>
  </table>

{% endblock %}