{% extends "common/base.html" %}

{% block title %} Reserve {% endblock %}

{% block content %}
  <h2>My Reservations</h2>
  <hr/>
  <h4>Upcoming Reservations</h4>
  <table class="table table-striped">
    {% if future_reservations or past_reservations %}
      <thead>
      <tr>
        <th>Date</th>
        <th>Period</th>
        <th>Team</th>
        <th>Technology</th>
        <th>Location</th>
        <th></th>
      </tr>
      </thead>
      <tbody>
      {% for reservation in future_reservations %}
        <tr>
          <td>{{ reservation.date|date:"l, M d" }}</td>
          <td>{{ reservation.period.name }}</td>
          <td>{{ reservation.team.members_str }}</td>
          <td>
            {{ reservation.units }}x {{ reservation.site_inventory.inventory.display_name }}
            <br/>
            <small class="text-muted">{{ reservation.site_inventory.inventory.model_identifier }}</small>
          </td>
          <td>{{ reservation.classroom.name }}</td>
          <td class="text-right">
            <button type="button" class="btn btn-danger btn-sm" data-toggle="modal"
                    data-target="#reservation_delete_{{ reservation.pk }}"><span
                class="glyphicon glyphicon-trash"></span>
            </button>
            {% include "checkout/delete_modal.html" %}
          </td>
        </tr>
      {% endfor %}
      <tr style="background-color: #fff">
        <td colspan="7">
          <br/>
          <h4>Past Reservations</h4>
        </td>
      </tr>
      {% for reservation in past_reservations %}
        <tr>
          <td>{{ reservation.date|date:"l, M d" }}</td>
          <td>{{ reservation.period.name }}</td>
          <td>{{ reservation.team.members_str }}</td>
          <td>
            {{ reservation.units }}x {{ reservation.site_inventory.inventory.display_name }}
            <br/>
            <small class="text-muted">{{ reservation.site_inventory.inventory.model_identifier }}</small>
          </td>
          <td>{{ reservation.classroom.name }}</td>
          <td class="text-right">
            <button type="button" class="btn btn-danger btn-sm" data-toggle="modal"
                    data-target="#reservation_delete_{{ reservation.pk }}"><span
                class="glyphicon glyphicon-trash"></span>
            </button>
            {% include "checkout/delete_modal.html" %}
          </td>
        </tr>
      {% endfor %}
    {% else %}
      <div class="alert alert-warning">
        You don't have any reservations. Click a period in the <a href="{% url 'index' %}">schedule</a> to make
        a reservation.
      </div>
    {% endif %}
    </tbody>
  </table>
  <br/>


{% endblock %}