{% extends "common/base.html" %}

{% block content %}
  {% now "Y-m-d" as today %}
  <div class="row">
    <div class="col-xs-3 text-left">
      {% if previous_week.0 %}
        <a href="{{ previous_week.1 }}" role="button"
           class="btn btn-default btn-lg">
          &laquo; <span class="hidden-xs">Week</span> {{ previous_week.0.week_number }}
        </a>
      {% endif %}
    </div>
    <div class="col-xs-6 text-center">
      <h2 style="margin-top: 10px">Week {{ week.week_number }}</h2>
    </div>
    <div class="col-xs-3 text-right">
      {% if next_week.0 %}
        <a href="{{ next_week.1 }}" role="button" class="btn btn-default btn-lg">
          <span class="hidden-xs">Week</span> {{ next_week.0.week_number }} &raquo;
        </a>
      {% endif %}
    </div>
  </div>
  <hr class="small-margin-bottom"/>
  {% if schedule %}
    <div class="table-responsive">
      <table class="table table-bordered table-hover schedule">
        <thead>
        <tr>
          <th></th>
          {% for calendar_day in calendar_days %}
            <th class="text-center {% if calendar_day.date.isoformat == today %}table-cell-today{% endif %}"
                style="min-width: 150px; width:250px;">
              {{ calendar_day|date:"D, M d" }}
            </th>
          {% endfor %}
        </tr>
        </thead>
        <tbody>
        {% for period in periods %}
          <tr>
            <th class="table-cell-period">
              {{ period.name }}
            </th>
            {% for calendar_day in calendar_days %}
              <td class="table-td">
                {% for work_day in schedule %}
                  {% if work_day.date == calendar_day %}
                    {% for period_details in work_day.periods %}
                      {% if period_details.period == period %}
                        <div class="table-cell {% if calendar_day.isoformat == today %}table-cell-today{% endif %}">
                          {% block cell %}{% endblock %}
                        </div>
                      {% endif %}
                    {% endfor %}
                  {% endif %}
                {% endfor %}
              </td>
            {% endfor %}
          </tr>
        {% endfor %}
        </tbody>
      </table>
    </div> <!-- /.table-responsive -->
  {% else %}
    <p>Schedule is not available.</p>
  {% endif %}
{% endblock %}