{% extends "common/base.html" %}

{% block title %} Schedule {% endblock %}

{% block content %}
  <div class="row">
    <div class="col-xs-3 text-left">
      {% if previous_week %}
        {% if user.is_authenticated %}
          <a href="/week/{{ previous_week }}" role="button" class="btn btn-default btn-lg">
            &laquo; <span class="hidden-xs">Week</span> {{ previous_week }}
          </a>
        {% else %}
          <a href="/site/{{ aimhigh_site.pk }}/week/{{ previous_week }}" role="button" class="btn btn-default btn-lg">
            &laquo; <span class="hidden-xs">Week</span> {{ previous_week }}
          </a>
        {% endif %}
      {% endif %}
    </div>
    <div class="col-xs-6 text-center">
      <h2 style="margin-top: 10px">Week {{ week.week_number }}</h2>
    </div>
    <div class="col-xs-3 text-right">
      {% if next_week %}
        {% if user.is_authenticated %}
          <a href="/week/{{ next_week }}" role="button" class="btn btn-default btn-lg">
            <span class="hidden-xs">Week</span> {{ next_week }} &raquo;
          </a>
        {% else %}
          <a href="/site/{{ aimhigh_site.pk }}/week/{{ next_week }}" role="button"
             class="btn btn-default btn-lg">
            <span class="hidden-xs">Week</span> {{ next_week }} &raquo;
          </a>
        {% endif %}
      {% endif %}
    </div>
  </div>
  <hr style="margin-top: 10px"/>
  {% if schedule %}
    <div class="table-responsive">
      <table class="table table-bordered table-hover">
        <thead>
        <tr>
          <th></th>
          {% for calendar_day in calendar_days %}
            <th class="text-center" style="min-width: 150px; width:150px">
              {{ calendar_day.date|date:"D, M d" }}
            </th>
          {% endfor %}
        </tr>
        </thead>
        <tbody>
        {% for period in periods %}
          <tr>
            <th class="text-center" width="100">
              {{ period.1 }}
            </th>
            {% for calendar_day in calendar_days %}
              {% for work_day in schedule %}
                {% if work_day.date == calendar_day.date %}
                  {% for period_details in work_day.periods %}
                    {% if period_details.period_number == period.0 %}
                      <td>
                        <div class="table-cell">
                          <div class="reserve">
                            <div class="btn-group btn-group-justified">
                              <a role="button" class="btn btn-default btn-sm reserve-button" data-toggle="collapse"
                                 href="#period_details_{{ work_day.date.isoformat }}_{{ period.0 }}">
                                <span class="glyphicon glyphicon-plus"></span>&nbsp;Reserve
                              </a>
                            </div>
                          </div>
                          <div class="availability collapse"
                               id="period_details_{{ work_day.date.isoformat }}_{{ period.0 }}">
                            <div class="row">
                              <div class="col-xs-12">
                                <div class="row">
                                  <div class="col-xs-12">
                                    {% for sku in period_details.skus %}
                                      <div class="row reservation">
                                        <div class="col-xs-12 sku-reservation">
                                          {% if sku.free_count > 0 %}
                                            <a href="/request/?site_assignment={{ sku.site_sku.pk }}&date={{ work_day.date.isoformat }}&period={{ period.0 }}">
                                              <span class="label label-success sku-room">Free</span>
                                              <span class="label label-default sku-units">{{ sku.free_count }}</span>
                                              <small>{{ sku.site_sku.sku.display_name }}</small>
                                            </a>
                                          {% else %}
                                            <span class="label label-danger sku-room">N/A</span>
                                            <span class="label label-default sku-units">{{ sku.free_count }}</span>
                                            <small>{{ sku.site_sku.sku.display_name }}</small>
                                          {% endif %}
                                        </div>
                                      </div>
                                    {% endfor %}
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div> <!-- /availability -->
                          <div class="reservations">
                            <div class="row">
                              <div class="col-xs-12">
                                {% for sku in period_details.skus %}
                                  {% for reservation in sku.reservations %}
                                    <div class="row reservation">
                                      <a role="button" data-toggle="modal"
                                         data-target="#reservation_{{ reservation.pk }}">
                                        <div class="col-xs-12">
                                          <div class="row">
                                            <div class="col-xs-12 sku-reservation">
                                              <span
                                                  class="label label-info sku-room">{{ reservation.classroom.code }}</span>
                                              <span class="label label-default sku-units">{{ reservation.units }}</span>
                                              <small>{{ reservation.site_sku.sku.display_name }}</small>
                                            </div>
                                          </div>
                                      </a>
                                      {% include "checkout/popover_modal.html" %}
                                      {% include "checkout/delete_modal.html" %}
                                    </div>
                                    </div>
                                  {% endfor %}
                                {% endfor %}
                            </div>
                          </div> <!-- /reservations -->
                        </div> <!-- /table-cell -->
                      </td>
                    {% endif %}
                  {% endfor %}

                {% endif %}
              {% endfor %}
            {% endfor %}
          </tr>
        {% endfor %}
        </tbody>
      </table>
    </div> <!-- /.table-responsive -->
  {% else %}
    <p>Schedule is not available.</p>
  {% endif %}
{% endblock %}