{% extends "checkout/week.html" %}
{% block title %} Schedule {% endblock %}
{% block cell %}
  <div class="small-margin-bottom">
    <div class="btn-group btn-group-justified">
      <a role="button" class="btn btn-default btn-sm reserve-button" data-toggle="collapse"
         href="#period_details_{{ work_day.date.isoformat }}_{{ period.id }}">
        <span class="glyphicon glyphicon-plus"></span>&nbsp;Reserve
      </a>
    </div>
  </div>
  <div class="availability collapse" id="period_details_{{ work_day.date.isoformat }}_{{ period.id }}">
    <div class="row">
      <div class="col-xs-12">
        {% for category, free_count in period_details.free.items %}
          <div class="row">
          <div class="col-xs-12">
            {% if free_count > 0 %}
              <div class="pill-container pill-available">
                <a href="{% url 'reserve_request' %}?technology_category={{ category.pk }}&date={{ work_day.date.isoformat }}&period={{ period.id }}">
                  <div class="pill">
                    <span class="label label-success inventory-room">Free</span>
                    <span class="label label-default inventory-units">{{ free_count }}</span>
                    <small>{{ category.name }}</small>
                  </div>
                </a>
              </div>
            {% else %}
              <div class="pill-container pill-unavailable">
                <div class="pill">
                  <span class="label label-danger inventory-room">N/A</span>
                  <span class="label label-default inventory-units">{{ free_count }}</span>
                  <small>{{ category.name }}</small>
                </div>
              </div>
            {% endif %}
          </div>
        {% endfor %}
        </div>
      </div>
    </div>
    <hr class="small-margin-bottom"/>
  </div> <!-- /availability -->
  <div class="row"> <!-- reservations -->
    <div class="col-xs-12">
      {% for reservation in period_details.reservations %}
        <div class="row">
          <div class="col-xs-12">
            <div class="pill-container pill-reserved">
              <a role="button" data-toggle="modal" data-target="#reservation_{{ reservation.pk }}">
                <div class="pill">
                  <span class="label label-info inventory-room">{{ reservation.classroom.code }}</span>
                  <span class="label label-default inventory-units">{{ reservation.units }}</span>
                  <small>{{ reservation.site_inventory.inventory.display_name }}</small>
                </div>
              </a>
            </div>
          </div>
        </div>
        {% include "checkout/popover_modal.html" %}
        {% include "checkout/delete_modal.html" %}
      {% endfor %}
    </div>
  </div> <!-- /reservations -->
{% endblock %}
