{% extends "checkout/week.html" %}
{% block title %} Movements {% endblock %}
{% block cell %}
  <div class="small-margin-top">

    <div class="row">
      <div class="col-xs-12">
        <a role="button" data-toggle="modal"
           data-target="#movement_{{ period_details.period.number }}_{{ calendar_day.isoformat }}">
          <div class="pill-container">
            <div class="pill pill-reserved">
              {% for movement in period_details.movements %}
                <span class="label label-default sku-units">{{ movement.units }}</span>
                <small>{{ movement.site_sku.sku.display_name }}</small>
                <br/>
              {% empty %}
                <div class="text-center"><small>No movements</small></div>
              {% endfor %}
            </div>
          </div>
        </a>
      </div>
    </div>

  </div>
  <div class="modal text-left" role="dialog"
       id="movement_{{ period_details.period.number }}_{{ calendar_day.isoformat }}">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">×</span>
          </button>
          <h3 class="modal-title">Movements</h3>
        </div>
        <div class="modal-body">
          <div class="row">
            <div class="col-xs-12">
              {% for movement in period_details.movements %}
                <div class="row">
                <div class="col-xs-12">
                  <span class="label label-default sku-units">{{ movement.units }}</span>
                  {{ movement.site_sku.sku.display_name }}
                  <hr />
                </div>
                </div>
                <div class="row">
                <div class="col-xs-5">
                  <strong>Pickup</strong><br />
                  {{ movement.origin.name }}
                </div>
                <div class="col-xs-2">
                  <h1>→</h1>
                </div>
                <div class="col-xs-5">
                  <strong>Dropoff</strong><br />
                  {{ movement.destination.name }}
                </div>
                </div>
                <div class="row">
                <div class="col-xs-12">
                  {{ movement.comment }}
                </div>
                </div>

              {% empty %}
                <div class="text-center">No movements</div>
              {% endfor %}
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-toggle="modal" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>

{% endblock %}
