{% extends "common/base.html" %}

{% block title %} Login {% endblock %}

{% block content %}
  {% if form.errors %}
    <div class="alert alert-danger" role="alert">Your username and password didn't match. Please try again.</div>
  {% endif %}

  {% if next %}
    {% if user.is_authenticated %}
      <div class="alert alert-danger" role="alert">Your account doesn't have access to this page. To proceed,
        please login with an account that has access.
      </div>
    {% else %}
      <div class="alert alert-warning" role="alert">Please login to see this page.</div>
    {% endif %}
  {% endif %}

  <h2>Login</h2>
  <hr/>

  <form class="form-horizontal" action="{% url 'login' %}" method="post">
    <input type="hidden" name="next" value="{{ next }}"/>
    {% csrf_token %}
    <div class="form-group">
      <label class="col-xs-3 control-label">{{ form.username.label_tag }}</label>
      <div class="col-xs-9">
        {{ form.username }}
      </div>
    </div>
    <div class="form-group">
      <label class="col-xs-3 control-label">{{ form.password.label_tag }}</label>
      <div class="col-xs-9">
        {{ form.password }}
        &nbsp<a href="{% url 'password_reset' %}">Lost password?</a>
      </div>
    </div>
    <div class="form-group">
      <div class="col-xs-offset-3 col-xs-9">
        <input type="submit" value="Login" class="btn btn-primary"/>
      </div>
    </div>
  </form>
{% endblock %}