/* Utility classes */

.no-padding {
    padding: 0;
}

/* Bootstrap overrides */

.table > tbody > tr > td {
    vertical-align: middle;
}

.table > tbody > tr > th {
    vertical-align: middle;
}

/* Custom classes */

.body {
    margin-top: 40px;
}

.reservation {
    line-height: 1;
    white-space: nowrap;
    vertical-align: baseline;
    padding: 0.2em 0.6em 0.3em;
    border-radius: 0.25em;
    background-color: #dddddd;
    margin: 0 0 5px 0;
    color: #000;
}

.reservations {
    display: block;
    min-height: 50px;
}

.sku-reservation {
    padding:0 0 2px;
    margin: 0 -5px 0 -5px;
}

.sku-fixed {
    min-width: 30px;
    display: inline-block;
}